{% load static %}
{% load django_app_filters_and_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/fontawesome/css/all.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/output.css' %}" />


  <title>{% block title %}Rac Application{% endblock %}</title>
</head>

<body class="bg-gray-100">
  {% include "components/header.html" %}
  <div class="container mx-auto">
    <main class="py-8 px-4 sm:px-6 md:px-8 lg:px-10">
      {% block main %}{% endblock %}
    </main>

  </div>
  {% include "components/footer.html" %}

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const button = document.querySelector('[aria-haspopup="true"]');
      const menu = document.getElementById('dropdown-menu');

      button.addEventListener('click', function () {
        const expanded = this.getAttribute('aria-expanded') === 'true' || false;
        this.setAttribute('aria-expanded', !expanded);
        menu.classList.toggle('hidden');
      });
    });
  </script>
</body>

</html>