{% extends "components/base.html" %}
{% load django_app_filters_and_tags %}

{% block title %}Upload File{% endblock %}
{% load static %}
{% block main %}
<div class="max-w-lg mx-auto py-8">
    <form id="upload-form" enctype="multipart/form-data" class="space-y-4">
        {% csrf_token %}
        <div>
            <label for="category" class="block text-gray-700 font-bold mb-2">Шаблоны</label>
            <select name="category" id="category"
                class="form-select border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                <option value="" disabled selected>Выберите шаблон</option>
                {% for category in categories %}
                <option value="{{ category.slug }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="file" class="block text-gray-700 font-bold mb-2">Загрузить файл</label>
            <input type="file" name="file" id="file" accept=".xlsx"
                class="form-input border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <button type="button" id="submit-btn"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline flex items-center justify-center">
            Загрузить <i class="fas fa-upload ml-2"></i>
        </button>
    </form>

    <div id="message" class="hidden mt-4 bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative"
        role="alert">
        <span class="block sm:inline"></span>
    </div>

    <div id="error" class="hidden mt-4 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
        role="alert">
        <span class="block sm:inline"></span>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var submitBtn = document.getElementById('submit-btn');
        var categorySelect = document.getElementById('category');
        var fileInput = document.getElementById('file');
        submitBtn.addEventListener('click', function () {
            if (categorySelect.value && fileInput.files.length > 0) {
                var formData = new FormData();
                console.log("Category: ", categorySelect.value);

                formData.append('category', categorySelect.value);
                formData.append('file', fileInput.files[0]);

                fetch("{% url 'uploadFile' %}", {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': "{{ csrf_token }}",
                    },
                })
                    .then(response => {
                        if (response.ok) {
                            document.getElementById('message').innerText = "Файл успешно загружен.";
                            document.getElementById('message').classList.remove('hidden');
                            setTimeout(function () {
                                document.getElementById('message').classList.add('hidden');
                            }, 3000);
                        } else {
                            document.getElementById('error').innerText = "Произошла ошибка. Пожалуйста, попробуйте еще раз.";
                            document.getElementById('error').classList.remove('hidden');
                            setTimeout(function () {
                                document.getElementById('error').classList.add('hidden');
                            }, 3000);
                        }
                    })

                    .catch(error => {
                        console.error('Error:', error);
                    });
            } else {
                document.getElementById('error').innerText = "Пожалуйста, выберите категорию и выберите файл.";
                document.getElementById('error').classList.remove('hidden');
                setTimeout(function () {
                    document.getElementById('error').classList.add('hidden');
                }, 3000);
            }
        });
    });
</script>

{% endblock %}